<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }
        html {
            color: #3e3832;
        }

        p {
            margin-bottom: 15px;
            margin-top: 0;
            font-size: 15px;
        }

        img {
            background: #fff;
        }

        @page {
            padding-bottom: 60px;
            margin-top: 60px;
            margin-left: 1cm;
            margin-right: 1cm;
        }

        @page :first {
            margin-top: 1cm;
        }

        .header {
            background-color: #e0dae7;
            margin: 0 0 1cm;
            font-weight: normal;
            padding: .25cm;
            font-size: 18px;
            width: 100%;
        }

        .header span {
            display: inline-block;
            height: 24px;
            font-size: 18px;
            line-height: 24px;
        }

        .header-ikon {
            width: 30px;
            height: 24px;
            display: inline-block;
            float: left;
            margin-right: .25cm;
            background-color: #e0dae7;
        }

        .sykmelding-seksjon .sykmeldt-navn {
            font-size: 34px;
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
            width: 17cm;
            word-break: break-all;
        }

        .sykmelding-til-arbeidsgiver h3 {
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 3px;
            padding: 0;
            font-size: 13px;
            font-weight: normal;
            color: #7f756c;
        }

        .sykmelding-nokkelopplysning {
            margin-bottom: 15px;
        }

        .sykmelding-nokkelopplysning p {
            margin-bottom: 0;
            font-size: 13px;
        }

        .sykmelding-nokkelopplysning h3 {
            font-size: 14px;
        }

        .sykmelding-nokkelopplysning p + h3 {
            margin-top: 15px;
        }

        .sykmelding-subopplysning {
            padding-left: 15px;
        }

        .resten {
            page-break-before: avoid;
        }

        .resten h3 {
            font-size: 15px;
            margin-bottom: 5px;
        }

        .skravert {
            background: #7f756c;
            width: 5cm;
            height: .6cm;
            text-indent: -9999cm;
            margin-bottom: 15px!important;
        }

        .sykmelding-seksjon {
            margin-bottom: .5cm;
            border-bottom: 1px solid #7f756c;
            page-break-inside: avoid;
        }

        .sykmelding-seksjon h2 {
            font-size: 17px;
            margin-bottom: 10px;
            margin-top: 0;
        }

        .strong {
            font-weight: 700;
        }

        .checkbox {
            width: 11px;
            height: 11px;
            display: inline-block;
        }

        .sykmelding-checkbox-label {
            display: inline-block;
        }

        .luft {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<header>
    <div class="header">
        <svg class="header-ikon">
            {{{ resource "arbeidsgiver.svg" }}}
        </svg>
        <span>Sykmelding til NAV</span>
    </div>
</header>
<div class="syk sykmeldingdel">
    <div class="sykmelding-til-arbeidsgiver sykmelding-seksjon">
        <div class="sykmelding-nokkelopplysning">
            <h2>1. Pasientopplysninger</h2>
            <h2 class="sykmeldt-navn">
                {{ pasient.fornavn }} {{#if pasient.mellomnavn }}{{pasient.mellomnavn}} {{/if}}{{pasient.etternavn}}
            </h2>
            <h3>1.2 Fødselsnummer</h3>
            <span class="luft">{{ pasient.personnummer }}</span>
        </div>

        <div class="sykmelding-nokkelopplysning">
            <h2>2. Arbeidsgiver</h2>
            <h3>2.1 Arbeidsgiver har</h3>
            <span class="luft">
                {{#eq sykmelding.arbeidsgiver.harArbeidsgiver "EN_ARBEIDSGIVER"}}Én arbeidsgiver{{/eq}}
                {{#eq sykmelding.arbeidsgiver.harArbeidsgiver "FLERE_ARBEIDSGIVERE"}}Flere arbeidsgivere{{/eq}}
                {{#eq sykmelding.arbeidsgiver.harArbeidsgiver "INGEN_ARBEIDSGIVER"}}Ingen arbeidsgiver{{/eq}}
            </span>
            <h3>2.2 Arbeidsgiver for denne sykmeldingen</h3>
            <span class="luft">{{ sykmelding.arbeidsgiver.navn }}</span>
            <h3>2.3 Yrke/stilling for dette arbeidsforholdet</h3>
            <span class="luft">{{ sykmelding.arbeidsgiver.yrkesbetegnelse }}</span>
            <h3>2.4 Stillingsprosent</h3>
            <span class="luft">{{ sykmelding.arbeidsgiver.stillingsprosent }}</span>
        </div>

        <div class="sykmelding-nokkelopplysning">
            <h2>3. Diagnose</h2>
            <h3>3.1 Hoveddiagnose</h3>
            <div class="luft">
                <table style="width: 100%">
                    <thead>
                    <tr>
                        <td>Kodesystem</td>
                        <td>Kode</td>
                        <td>Diagnose</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ sykmelding.medisinskVurdering.hovedDiagnose.system }}</td>
                        <td>{{ sykmelding.medisinskVurdering.hovedDiagnose.kode }}</td>
                        <td>TODO: Diagnosetekst</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3>3.2 Bidiagnoser</h3>
            <div class="luft">
                <table style="width: 100%">
                    <thead>
                    <tr>
                        <td>Kodesystem</td>
                        <td>Kode</td>
                        <td>Diagnose</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {{#each sykmelding.medisinskVurdering.biDiagnoser }}
                            <td>{{ system }}</td>
                            <td>{{ kode }}</td>
                            <td>TODO: Diagnosetekst</td>
                        {{/each}}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h2>4. Mulighet for arbeid</h2>

        {{# each sykmelding.perioder }}
            <div class="sykmelding-seksjon">
                <h3>Periode</h3>
                <div class="periode-dato-range">
                    <span class="strong">{{ iso_to_date fom }}</span>
                    <span>&#8211;</span>
                    <span class="strong">{{ iso_to_date tom }}</span>
                    <span class="subtekst">&#8226; {{ duration fom tom }} dager</span>
                </div>
                <div>
                    {{# if avventendeInnspillTilArbeidsgiver }}
                        <div class="sykmelding-nokkelopplysning">
                            <h3>4.1 Avventende sykmelding</h3>
                            <h3>4.1.3 Innspill til arbeidsgiver om tilrettelegging</h3>
                            <p>{{ avventendeInnspillTilArbeidsgiver  }}</p>
                        </div>
                    {{/if}}
                    {{# if gradert }}
                        <div class="sykmelding-nokkelopplysning">
                            <h3>4.2 Pasienten kan være delvis i arbeid (gradert sykmelding)</h3>
                            <h3>4.2.3 Grad for sykmelding</h3>
                            <p>{{ gradert.grad }} % sykmeldt</p>
                            <h3>4.2.4 Pasienten kan være delvis i arbeid ved bruk av reisetilskudd</h3>
                            {{# if gradert.reisetilskudd }}
                                <p>Med reisetilskudd</p>
                            {{/if}}
                            {{#unless gradert.reisetilskudd }}
                                <p>Uten reisetilskudd</p>
                            {{/unless}}
                        </div>
                    {{/if}}

                    {{# if aktivitetIkkeMulig }}
                        <h3>{{ iso_to_date fom }} - {{ iso_to_date tom }} ({{ duration fom tom }} dager)</h3>
                        <div class="sykmelding-nokkelopplysning">
                            <h3>4.3 Pasienten kan ikke være i arbeid (100 % sykmeldt)</h3>
                            {{#if aktivitetIkkeMulig.arbeidsrelatertArsak }}
                                <p>
                                    <svg class="checkbox">{{ resource "checkbox.svg" }}</svg>
                                    <span class="inline-ikon">Forhold på arbeidsplassen vanskeliggjør arbeidsrelatert aktivitet</span>
                                </p>
                                {{#if aktivitetIkkeMulig.medisinskArsak }}
                                    <h3>4.3.3 Medisinske årsaker hindrer arbeidsrelatert aktivitet</h3>
                                    <h3>4.3.3.1 Angi hva som er årsaken</h3>
                                    <p>&#8211; {{ aktivitetIkkeMulig.medisinskArsak.arsak }}</p>
                                    <h3>4.3.3.2 Beskriv nærmere</h3>
                                    <p>&#8211; {{ aktivitetIkkeMulig.medisinskArsak.beskrivelse }}</p>
                                {{/if}}
                                {{#if aktivitetIkkeMulig.arbeidsrelatertArsak }}
                                    <h3>4.3.4 Og forhold på arbeidsplassen vanskeliggjør arbeidsrelatert aktivitet</h3>
                                    <h3>4.3.4.1 Angi hva som er årsaken</h3>
                                    <p>&#8211; {{ aktivitetIkkeMulig.arbeidsrelatertArsak.arsak }}</p>
                                    <h3>4.3.3.2 Beskriv nærmere</h3>
                                    <p>&#8211; {{ aktivitetIkkeMulig.arbeidsrelatertArsak.beskrivelse }}</p>
                                {{/if}}
                            {{/if}}
                        </div>
                    {{/ if }}
                    {{# if behandlingsdager }}
                        <div class="sykmelding-nokkelopplysning">
                            <h3>4.4 Behandlingsdager</h3>
                            <h3>4.4.3 Oppgi antall dager i perioden</h3>
                            <p>{{ behandlingsdager }} behandlingsdag(er)</p>
                        </div>
                    {{/ if }}
                    {{# if reisetilskudd }}
                        <div class="sykmelding-nokkelopplysning">
                            <h4>4.5 Reisetilskudd</h4>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/ each }}
        <div class="sykmelding-nokkelopplysning">
            <h2>5. Friskmelding/Prognose</h2>
            {{# if sykmelding.prognose.arbeidsforEtterPeriode }}
                <p>
                    <svg class="checkbox">{{ resource "checkbox.svg" }}</svg>

                    <span class="inline-ikon">5.1 Pasienten er 100 % arbeidsfør etter perioden</span>
                </p>
            {{/if}}
        </div>
        {{#if sykmelding.prognose.hensynArbeidsplassen }}
            <div class="sykmelding-nokkelopplysning">
                <h3>5.1.1 Beskriv eventuelle hensyn som må tas på arbeidsplassen</h3>
                <p>
                    {{ sykmelding.prognose.hensynArbeidsplassen }}
                </p>
            </div>
        {{/if}}
        <!-- TODO: Fix up arbeidsgiver -->
        {{#if sykmelding.arbeidsgiver }}
            <div class="sykmelding-nokkelopplysning">
                <h3>Arbeidsgiver som legen har skrevet inn</h3>
                <p>
                    {{ sykmelding.arbeidsgiver.navn }}
                </p>
                {{#if sykmelding.arbeidsgiver.stillingsprosent }}
                    <p>{{ sykmelding.arbeidsgiver.stillingsprosent }}</p>
                {{/if}}
            </div>
        {{/if}}
    </div>
    <div class="resten">
        <div class="sykmelding-seksjon">
            <div class="sykmelding-nokkelopplysning">
                <h3>12.1 Pasienten er kjent eller har vist legitimasjon.</h3>
                <p>&#8211; {{ iso_to_nor_date sykmelding.behandletTidspunkt }}</p>
                <h3>12.2 Sykmelders navn</h3>
                <p>&#8211; {{ sykmelding.behandler.fornavn }} {{#if sykmelding.behandler.mellomnavn }}{{ sykmelding.behandler.mellomnavn }} {{/if}}{{ sykmelding.behandler.etternavn }}</p>
                <h3>12.4 HPR-nummer</h3>
                <p>&#8211; {{ sykmelding.behandler.hpr }}</p>
                {{#if sykmelding.behandler.telefonNummer }}
                    <h3>12.5 Telefon</h3>
                    <p>&#8211; {{ sykmelding.behandler.telefonNummer }}</p>
                {{/if}}
                <h3>12.6 Adresse</h3>
                <p>&#8211; {{ sykmelding.behandler.adresse.gate }}, {{ sykmelding.behandler.adresse.postnummer }} {{ sykmelding.behandler.adresse.kommune }}</p>
            </div>
        </div>
        {{#any prognose.arbeidsutsikter.harEgetArbeidPaaSikt prognose.arbeidsutsikter.harAnnetArbeidPaaSikt }}
            <div class="sykmelding-seksjon">
                <div class="sykmelding-nokkelopplysning">
                    <h2>Friskmelding</h2>
                    {{#if prognose.arbeidsutsikter.harEgetArbeidPaaSikt }}
                        <div class="luft">
                            <svg class="checkbox">{{ resource "checkbox.svg" }}</svg>
                            <p class="sykmelding-checkbox-label">Jeg antar at pasienten kan komme tilbake til eget eller annet arbeid hos samme arbeidsgiver</p>
                        </div>
                        <div class="luft sykmelding-subopplysning">
                            <h3>Når antar du at det kan skje?</h3>
                            <p>
                                &#8211; {{ iso_to_nor_date prognose.arbeidsutsikter.arbeidFom }}
                            </p>
                        </div>
                    {{/if}}
                    {{#if prognose.arbeidsutsikter.harAnnetArbeidPaaSikt }}
                        <div>
                            <svg class="checkbox">{{ resource "checkbox.svg" }}</svg>
                            <p class="sykmelding-checkbox-label">
                                Jeg antar at pasienten på sikt kan komme i arbeid hos annen arbeidsgiver
                            </p>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/any}}
        {{#if tiltak.tiltakArbeidsplassen }}
            <div class="sykmelding-seksjon">
                <div class="sykmelding-nokkelopplysning">
                    <h2>Hva skal til for å bedre arbeidsevnen?</h2>
                    <h3>Tilrettelegging/hensyn som bør tas på arbeidsplassen</h3>
                    <p>&#8211; {{ tiltak.tiltakArbeidsplassen }}
                    </p>
                </div>
            </div>
        {{/if}}
        {{#if meldingTilArbeidsgiver}}
            <div class="sykmelding-seksjon">
                <div class="sykmelding-nokkelopplysning">
                    <h2>Melding til arbeidsgiver</h2>
                    <h3>Innspill til arbeidsgiver</h3>
                    <p>
                        &#8211; {{ meldingTilArbeidsgiver }}
                    </p>
                </div>
            </div>
        {{/if}}

        <div class="sykmelding-seksjon">
            <div class="sykmelding-nokkelopplysning">
                <h2>Annet</h2>
                <h3>Telefon til lege/sykmelder</h3>
                <p>&#8211; {{ behandler.kontaktInfo.teleAddresss.v}}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
