<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        h1, h2, h3{
            font-weight: normal;
            font-style: normal;
            font-size: 1.4em;
            font-family: Arial, sans-serif;
        }
        h2 {
            font-size: 1.2em;
        }
        h3 {
            font-size: 1em;
        }

        .col50 {
            margin: 0;
            width: 50%;
            display: inline-block;
        }
        .right_solid {
            border-right: black 1px solid;
        }
        .frame_solid {
            border: black 1px solid;
        }
        .col25 {
            margin: 0;
            width: 25%;
            display: inline-block;
        }
        .col75 {
            margin: 0;
            width: 75%;
            display: inline-block;
        }
        .col100 {
            margin: 0;
            width: 100%;
            display: inline-block;
        }
        .bottom_solid {
            border-bottom: black solid 1px;
        }
        .cell {
            position: relative;
            display: table-cell;
            font-size: 16px;
        }
        .row {
            overflow-x: hidden;
            display: table;
            font-size: 0;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .table {
            width: 100%;
            font-size: 0;
        }
        .centered_title {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<h1 class="centered_title">Behandlingsvedlegg</h1>
<h3>Behandlingsvedlegget viser informasjon fra automatisk kontroll av dokumentet</h3>
<h2>Oppfølgingsmelding er sendt til Arena.</h2>
{{#if sender.merknadOppfoelging }}
    <h2>Følgene oppfølgingsmerknader er sendt til Arena</h2>
    <ul>
    {{#each sender.merknadOppfoelging }}
        <li>{{ tekst }}</li>
    {{/each}}
    </ul>
{{/if}}
<h3>Informasjon om dokumentet</h3>
<div class="table frame_solid">
    <div class="row bottom_solid">
        <div class="cell col25 right_solid">
            <div class="title">Type</div>
            <div class="value">{{ type }}</div>
        </div>
        <div class="cell col25 right_solid">
            <div class="title">Status</div>
            <div class="value">{{ status }}</div>
        </div>
        <div class="cell col25 right_solid">
            <div class="title"></div>
            <div class="value"></div>
        </div>
        <div class="cell col25">
            <div class="title">Pasient Id</div>
            <div class="value">{{ pasientId }}</div>
        </div>
    </div>
    <div class="row bottom_solid">
        <div class="cell col50 right_solid">
            <div class="title">Ediloggid (Referanse fra NAV elektronisk mottak)</div>
            <div class="value">{{ ediLoggId }}</div>
        </div>
        <div class="cell col50">
            <div class="title">Msg Id (Referanse fra avsender system)</div>
            <div class="value">{{ msgId }}</div>
        </div>
    </div>
    <div class="row">
        <div class="cell col25 right_solid">
            <div class="title">Generert</div>
            <div class="value">{{ generertDato }}</div>
        </div>
        <div class="cell col25 right_solid">
            <div class="title">Motatt NAV</div>
            <div class="value">{{ motattNavDato }}</div>
        </div>
        <div class="cell col25 right_solid">
            <div class="title">Registrert i legeerklæring</div>
            <div class="value">{{ registrertAutomatiskBehandlingDato }}</div>
        </div>
        <div class="cell col25">
            <div class="title"></div>
            <div class="value"></div>
        </div>
    </div>
</div>
<h3>Informasjon om avsender</h3>
<div class="table frame_solid">
    <div class="row bottom_solid">
        <div class="cell col25 right_solid">
            <div class="title">Signatur id</div>
            <div class="value">{{ sender.signatureId }}</div>
        </div>
        <div class="cell col75">
            <div class="title">Signatur navn</div>
            <div class="value">{{ sender.signatureName }}</div>
        </div>
    </div>
    <div class="row bottom_solid">
        <div class="cell col25 right_solid">
            <div class="title">Avsender id</div>
            <div class="value">{{ sender.id }} (FNR)</div>
        </div>
        <div class="cell col50 right_solid">
            <div class="title">Avsender navn</div>
            <div class="value">{{ sender.name }}</div>
        </div>
        <div class="cell col25">
            <div class="title">Telefon</div>
            <div class="value">{{ sender.tlfNummer }}</div>
        </div>
    </div>
    <div class="row bottom_solid">
        <div class="cell col25 right_solid">
            <div class="title">Organisasjon id</div>
            <div class="value">{{ sender.organisasjonsId }} (ENH)</div>
        </div>
        <div class="cell col75">
            <div class="title">Organisasjons navn</div>
            <div class="value">{{ sender.organisasjonsNavn }}</div>
        </div>
    </div>
    <div class="row">
        <div class="cell col100">
            <div class="title">Adresse</div>
            <div class="value">{{ sender.adresse }}</div>
            <div class="value">{{ sender.poststed }} {{ sender.postnummer }}</div>
        </div>
    </div>
</div>
</body>
</html>
