<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        @font-face {
            font-family: "source sans";
            src: url(https://www.genesis.de/assets/templates/leviticus/css/fonts/source-sans-pro-v11-latin-regular.ttf);
            font-weight: normal;
            font-style: normal;
        }


        @font-face {
            font-family: "source sans";
            src: url(https://www.genesis.de/assets/templates/leviticus/css/fonts/source-sans-pro-v11-latin-700.ttf);
            font-weight: bold;
            font-style: normal;
        }

        @page {
            size: A4 portrait;
            margin: 0.2cm;
        }

        * {
            font-family: "source sans";
        }

        h1 {
            font-weight: bold;
            font-style: normal;
            font-size: 18px;
            font-family: "source sans";
        }

        h2 {
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            margin-top: 4px;
            margin-bottom: 2px;
            font-family: "source sans";
        }
        p {
            margin: 3px;
            font-size: 12px;
            font-family: "source sans";
        }

        .title {
            display: inline-block;
            position: absolute;
            top: 15px;
            left: 100px;
        }

        .navlogo {
            display: inline-block;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .header {
            background: #C2EAF7;
            padding: 0cm 0.7cm;
        }

        .container {
            margin: 0cm 0.7cm;
        }

        .personinfo {
            margin-top: 0.7cm;
            margin-bottom: 1cm;
        }

        .navn {
            font-weight: bold;
            font-size: 14px;
        }

        .personikon {
            display: inline-block;
            height: 28px;
            width: 28px;
            margin-right: 0;
            padding-right: 0;
        }

        .persontekst {
            display: inline-block;
            margin-left: -12px;
            padding-left: 0;
        }

        .sendt {
            position: absolute;
            right: 1cm;
            font-size: 10px;
        }
        .sporsmalstekst {
            font-weight: bold;
        }

        .svar--perioder {
            font-size: 16px;
            font-weight: bold;
            margin-left: 0px;
        }

        .svar--checkbox {
            display: inline-block;
            position: relative;
            bottom: 1px;
        }

        .checkbox {
            display: inline-block;
            margin: 0px -12px 0 -19px;
        }

        .svar {
            margin-top: 4px;
        }

        .sporsmal {
            margin-bottom: 0.5cm;
        }

        .footer {
            display: block;
            position: absolute;
            top: 28cm;
            left: 0.9cm;
            font-size: 10px;
        }

        .sporsmal ul {
            font-family: "source sans";
            font-size: 12px;
        }

        .sporsmal ul li {
            margin-bottom: 12px;
        }

        .ikkerelevant {
            margin-left: -6px;
        }
    </style>
</head>
<body>
    <div class="header">
        <svg class="navlogo" width="45" height="29" viewBox="0 0 45 29" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <title>Group 2</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="17.5268878 28.4693878 0.0183673469 28.4693878 0.0183673469 0.25622449 17.5268878 0.25622449 35.0354082 0.25622449 35.0354082 28.4693878 17.5268878 28.4693878"></polygon>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Søknad-om-å-beholde-sykepenger-under-opphold-utenfor-norge" transform="translate(-38.000000, -14.000000)">
                    <g id="Group-2" transform="translate(38.000000, 14.000000)">
                        <g id="nav_logo_SortHvit">
                            <g id="Group-4">
                                <g id="Clip-2"></g>
                                <path d="M35.0354082,14.3635714 C35.0354082,22.1537755 28.7185714,28.4693878 20.9268367,28.4693878 C13.1381633,28.4693878 6.82193878,22.1537755 6.82193878,14.3635714 C6.82193878,6.5727551 13.1381633,0.25622449 20.9268367,0.25622449 C28.7185714,0.25622449 35.0354082,6.5727551 35.0354082,14.3635714" id="Fill-1" fill="#1A1919" mask="#path-1"></path>
                                <polyline id="Fill-3" fill="#1A1919" mask="#path-1" points="0 20.5233673 2.88306122 13.3870408 5.65346939 13.3870408 2.77408163 20.5233673 0 20.5233673"></polyline>
                            </g>
                            <polyline id="Fill-5" fill="#1A1919" points="35.5790816 20.5233673 38.4254082 13.3870408 39.9361224 13.3870408 37.0894898 20.5233673 35.5790816 20.5233673"></polyline>
                            <polyline id="Fill-6" fill="#1A1919" points="41.1768367 20.5233673 44.0228571 13.3870408 44.8252041 13.3870408 41.9785714 20.5233673 41.1768367 20.5233673"></polyline>
                            <path d="M22.195102,17.9439796 L20.7419388,17.9439796 C20.1639796,17.9439796 19.6934694,17.4756122 19.6934694,16.8970408 C19.6934694,16.3184694 20.1639796,15.8476531 20.7419388,15.8476531 L21.1484694,15.8476531 C21.7255102,15.8476531 22.195102,16.3184694 22.195102,16.8970408 L22.195102,17.9439796 Z M32.9595918,13.3870408 L30.4521429,13.3870408 C30.4521429,13.3870408 30.2794898,13.3870408 30.2185714,13.5397959 L28.8306122,17.787551 L27.4438776,13.5397959 C27.3826531,13.3870408 27.2087755,13.3870408 27.2087755,13.3870408 L22.3870408,13.3870408 C22.2826531,13.3870408 22.195102,13.4745918 22.195102,13.5783673 L22.195102,15.0208163 C22.195102,13.8765306 20.9773469,13.3870408 20.2643878,13.3870408 C18.6670408,13.3870408 17.5983673,14.4391837 17.2656122,16.0377551 C17.2472449,14.9776531 17.1593878,14.597449 16.8737755,14.2080612 C16.7421429,14.0176531 16.5526531,13.8566327 16.3460204,13.7240816 C15.9208163,13.474898 15.5387755,13.3870408 14.7177551,13.3870408 L13.7543878,13.3870408 C13.7543878,13.3870408 13.579898,13.3870408 13.5183673,13.5397959 L12.6413265,15.7123469 L12.6413265,13.5783673 C12.6413265,13.4745918 12.555,13.3870408 12.4506122,13.3870408 L10.2205102,13.3870408 C10.2205102,13.3870408 10.0481633,13.3870408 9.98571429,13.5397959 L9.07408163,15.799898 C9.07408163,15.799898 8.98285714,16.0258163 9.19102041,16.0258163 L10.0481633,16.0258163 L10.0481633,20.3314286 C10.0481633,20.4385714 10.1323469,20.5233673 10.2397959,20.5233673 L12.4506122,20.5233673 C12.555,20.5233673 12.6413265,20.4385714 12.6413265,20.3314286 L12.6413265,16.0258163 L13.5030612,16.0258163 C13.9977551,16.0258163 14.102449,16.0392857 14.295,16.1289796 C14.4107143,16.1727551 14.515102,16.2603061 14.5723469,16.3634694 C14.6886735,16.5826531 14.7177551,16.8462245 14.7177551,17.6237755 L14.7177551,20.3314286 C14.7177551,20.4385714 14.8037755,20.5233673 14.9096939,20.5233673 L17.0289796,20.5233673 C17.0289796,20.5233673 17.2683673,20.5233673 17.3629592,20.2867347 L17.832551,19.1256122 C18.4567347,20.0005102 19.4846939,20.5233673 20.7618367,20.5233673 L21.0410204,20.5233673 C21.0410204,20.5233673 21.2819388,20.5233673 21.3771429,20.2867347 L22.195102,18.2608163 L22.195102,20.3314286 C22.195102,20.4385714 22.2826531,20.5233673 22.3870408,20.5233673 L24.5497959,20.5233673 C24.5497959,20.5233673 24.7888776,20.5233673 24.8843878,20.2867347 C24.8843878,20.2867347 25.750102,18.1386735 25.7528571,18.1221429 L25.7543878,18.1221429 C25.787449,17.9439796 25.5618367,17.9439796 25.5618367,17.9439796 L24.7897959,17.9439796 L24.7897959,14.2582653 L27.2185714,20.2867347 C27.3137755,20.5233673 27.552551,20.5233673 27.552551,20.5233673 L30.1083673,20.5233673 C30.1083673,20.5233673 30.3489796,20.5233673 30.4432653,20.2867347 L33.1362245,13.6181633 C33.229898,13.3870408 32.9595918,13.3870408 32.9595918,13.3870408 L32.9595918,13.3870408 Z" id="Fill-7" fill="#FFFFFE"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <h1 class="title">Søknad om å beholde sykepenger utenfor Norge</h1>
    </div>
    <div class="container">
        <div class="personinfo">
            <svg class="personikon" width="23" height="23" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                <title>personikon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Søknad-om-å-beholde-sykepenger-under-opphold-utenfor-norge" transform="translate(-39.000000, -97.000000)" fill="#3E3832">
                        <g id="personikon" transform="translate(39.000000, 97.000000)">
                            <g id="Layer_1">
                                <path d="M10,0 C4.4771525,-3.38176876e-16 6.76353751e-16,4.4771525 0,10 C-6.76353751e-16,15.5228475 4.4771525,20 10,20 C15.5228475,20 20,15.5228475 20,10 C20,7.3478351 18.9464316,4.80429597 17.0710678,2.92893219 C15.195704,1.0535684 12.6521649,1.62398263e-16 10,0 L10,0 Z M0.833333333,10 C0.82775007,5.89299063 3.55457877,2.28351418 7.50675903,1.16645177 C11.4589393,0.0493893656 15.6717707,1.69740836 17.8169106,5.1996836 C19.9620506,8.70195883 19.5158849,13.2036087 16.725,16.2166667 C15.5872641,15.5901946 14.3896143,15.079309 13.15,14.6916667 L12.1083333,14.3083333 L12.1083333,12.75 C13.4804137,11.7388957 14.27097,10.120434 14.225,8.41666667 C14.225,5.65833333 12.325,3.41666667 10,3.41666667 C7.675,3.41666667 5.775,5.65833333 5.775,8.41666667 C5.72659128,10.1628565 6.55958991,11.8163275 7.99166667,12.8166667 L7.99166667,14.3083333 L6.93333333,14.6916667 C5.68530868,15.0887632 4.47947604,15.6079411 3.33333333,16.2416667 C1.73949713,14.5528699 0.84600123,12.3221085 0.833333333,10 L0.833333333,10 Z M6.575,8.41666667 C6.575,6.13333333 8.10833333,4.25 10,4.25 C11.8916667,4.25 13.425,6.16666667 13.425,8.41666667 C13.425,10.6666667 11.8916667,12.5833333 10,12.5833333 C8.10833333,12.5833333 6.575,10.7 6.575,8.41666667 L6.575,8.41666667 Z M3.9,16.825 C4.96658176,16.2653895 6.08239741,15.8051155 7.23333333,15.45 L8.56666667,14.9583333 C8.72246946,14.8993291 8.82538596,14.7499342 8.825,14.5833333 L8.825,13.2166667 C9.61642581,13.5038138 10.4835742,13.5038138 11.275,13.2166667 L11.275,14.575 C11.274614,14.7416009 11.3775305,14.8909958 11.5333333,14.95 L12.8416667,15.4333333 C13.9775713,15.7995303 15.0767897,16.2710225 16.125,16.8416667 C12.6406533,19.9508984 7.37585599,19.9437207 3.9,16.825 L3.9,16.825 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="persontekst">
                <p class="sendt">
                    Sendt til NAV {{ iso_to_nor_date sendt }}
                </p>
                <p class="navn">
                    {{ person.navn }}
                </p>
                <p class="id">
                    {{ split_person_id person.pnr }}
                </p>
            </div>
        </div>
        {{# each sporsmal~}}
            <div class="sporsmal">
                <p class="sporsmalstekst">
                    {{ tekst }}
                </p>
                {{#eq type "PERIODER" }}
                    <p class="svar svar--perioder">
                        {{ iso_to_nor_date svar.fom}} – {{ iso_to_nor_date svar.tom}}
                    </p>
                {{/eq}}
                {{#eq type "FRITEKST" }}
                    <p class="svar">
                        {{ svar }}
                    </p>
                {{/eq}}
                {{#eq type "CHECKBOX" }}
                    <svg class="checkbox" width="14" height="13" viewBox="0 0 14 13" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                        <title>Shape Copy 5</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Søknad-om-å-beholde-sykepenger-under-opphold-utenfor-norge" transform="translate(-39.000000, -270.000000)" stroke="#000000">
                                <path d="M52,270.352359 L44.8571429,279.209501 L42,276.352359 M50.2857143,275.638073 L50.2857143,282.209501 L40,282.209501 L40,271.923787 L47.1428571,271.923787" id="Shape-Copy-5"></path>
                            </g>
                        </g>
                    </svg>
                    <p class="svar svar--checkbox">
                        {{ svar }}
                    </p>
                {{/eq}}
                {{#eq type "IKKE_RELEVANT" }}
                    {{#if undertekst}}
                        {{safe undertekst}}
                    {{/if}}
                    <svg class="checkbox ikkerelevant" width="14" height="13" viewBox="0 0 14 13" version="1.1"
                         xmlns="http://www.w3.org/2000/svg">
                        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                        <title>Shape Copy 5</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Søknad-om-å-beholde-sykepenger-under-opphold-utenfor-norge" transform="translate(-39.000000, -270.000000)" stroke="#000000">
                                <path d="M52,270.352359 L44.8571429,279.209501 L42,276.352359 M50.2857143,275.638073 L50.2857143,282.209501 L40,282.209501 L40,271.923787 L47.1428571,271.923787" id="Shape-Copy-5"></path>
                            </g>
                        </g>
                    </svg>
                    <p class="svar svar--checkbox">
                        {{ svar }}
                    </p>

                {{/eq}}
            </div>
        {{~/each}}
    </div>
    <p class="footer">
        {{ id }}
    </p>
</body>
</html>
