<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        @page {
            size: A4 portrait;
            margin: 0.2cm;
        }

        * {
            font-family: "Source Sans Pro";
        }

        img {
            image-rendering: pixelated;
        }

        h1 {
            font-weight: 700;
            font-style: normal;
            font-size: 18px;
            font-family: "Source Sans Pro";
        }

        p {
            margin: 3px;
            font-size: 12px;
            font-family: "Source Sans Pro";
        }

        .title {
            display: inline-block;
            position: absolute;
            top: 15px;
            left: 100px;
        }

        .navlogo {
            display: inline-block;
            padding-top: 15px;
            padding-bottom: 12px;
            width: 48px;
        }

        .header {
            background: #C2EAF7;
            padding: 0cm 0.7cm;
        }

        .container {
            margin: 0cm 0.7cm;
            height: 850px;
            border: 1px solid black;
        }

        .personinfo {
            position: relative;
            top: 25px;
            border: 1px solid red;
        }

        .navn {
            font-weight: bold;
            font-size: 14px;
            width: 430px;
            border: 1px solid black;
        }

        .id {
            width: 430px;
            border: 1px solid green;
        }

        .personikon {
            display: inline-block;
            width: 28px;
            margin-right: 0;
            padding-right: 0;
            border: 1px solid blue;
        }

        .persontekst {
            display: inline-block;
            margin-left: -4px;
            padding-left: 0;
            border: 1px solid blue;
        }

        .sendt {
            position: absolute;
            right: 1cm;
            font-size: 10px;
            width: 180px;
            border: 1px solid black;
        }

        .sporsmalcontainer {
            position: relative;
            top: 50px;
            border: 1px solid red;
        }

        .svarcontainer {
            position: relative;
            left: 2px;
            border: 1px solid yellow;
        }

        .svar {
            margin-top: 4px;
            width: 650px;
            font-size: 12px;
            font-family: "Source Sans Pro";
            border: 1px solid green;
        }

        .svar--perioder {
            font-size: 16px;
            font-weight: bold;
            margin-left: 2px;

        }

        .svar--checkbox {
            display: inline-block;
            position: relative;
            bottom: 1px;
            right: 5px;
        }

        .checkbox {
            width: 13px;
            border: 1px solid blue;
        }

        .sporsmal {
            padding-bottom: 0.5cm;
            border: 1px solid green;
        }

        .sporsmalstekst {
            font-weight: bold;
            border: 1px solid blue;
        }

        .footer {
            display: block;
            position: absolute;
            top: 24.5cm;
            left: 0.9cm;
            font-size: 10px;
            width: 680px;
            border: 1px solid black;
        }

        .sporsmal ul {
            border: 1px solid blue;
            font-family: "Source Sans Pro";
            font-size: 12px;
        }

        .sporsmal ul li {
            border: 1px solid black;
            margin-bottom: 12px;
        }

    </style>
</head>
<body>
    <div class="header">
        <img class="navlogo" src="{{ image "Navlogo.png" }}" />
        <h1 class="title">Søknad om å beholde sykepenger utenfor Norge</h1>
    </div>
    <div class="container">
        <div class="personinfo">
            <img class="personikon" src="{{ image "Personikon.png" }}" />
            <div class="persontekst">
                <p class="sendt">
                    Sendt til NAV {{ iso_to_nor_date sendt }}
                </p>
                <p class="navn">
                    {{ person.navn }}
                </p>
                <p class="id">
                    {{ insert_at person.pnr 6 }}
                </p>
            </div>
        </div>
        <div class="sporsmalcontainer">
        {{# each sporsmal~}}
            <div class="sporsmal">
                <p class="sporsmalstekst">
                    {{ tekst }}
                </p>
                {{#eq type "PERIODER" }}
                    <p class="svar svar--perioder">
                        {{ iso_to_nor_date svar.fom}} – {{ iso_to_nor_date svar.tom}}
                    </p>
                {{/eq}}
                {{#eq type "FRITEKST" }}
                    <p class="svar">
                        {{ svar }}
                    </p>
                {{/eq}}
                {{#eq type "CHECKBOX" }}
                    <div class="svarcontainer">
                        <img class="checkbox" src="{{ image "Checkboks.png" }}" />
                        <span class="svar svar--checkbox">
                            {{ svar }}
                        </span>
                    </div>
                {{/eq}}
                {{#eq type "IKKE_RELEVANT" }}
                    {{#if undertekst}}
                        {{safe undertekst}}
                    {{/if}}
                    <div class="svarcontainer">
                        <img class="checkbox" src="{{ image "Checkboks.png" }}" />
                        <span class="svar svar--checkbox">
                            {{ svar }}
                        </span>
                    </div>
                {{/eq}}
            </div>
        {{~/each}}
        </div>
    </div>
    <p class="footer">
        {{ id }}
    </p>
</body>
</html>
