<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    {{#block 'syfosoknader/partials/style' }}
    {{/block}}
</head>
<body>
  <div class="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}" />
    <h1 class="title">Søknad om å beholde sykepenger utenfor Norge</h1>
  </div>
  <div class="container">
    <div class="personinfo">
      <img class="personikon" src="{{ image "Personikon.png" }}" />
      <div class="persontekst">
        <p class="sendt">
          Sendt til NAV {{ iso_to_date sendt }}
        </p>
        <p class="navn">
          {{ navn }}
        </p>
        <p class="id">
          {{ insert_at fnr 6 }}
        </p>
      </div>
    </div>
    <div class="sporsmalcontainer">
        {{# each sporsmal as |spm index| ~}}
            <div class="hovedsporsmal">
                {{> syfosoknader/partials/spmpartial spm }}
            </div>
        {{/each}}
    </div>
  </div>
  <p class="footer">
    {{ soknadsId }}
  </p>
</body>
</html>
